@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Ubuntu", sans-serif;
}

iframe {
  border-radius: 8px;
}
.ant-layout {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100vh;
}

[type="button"] {
  background-color: #1890ff;
}

/********Sidebar css********/

.ant-layout .ant-layout-sider {
  position: relative;
  background: #1a202c;
  transition: all 0.5s;
}

.ant-layout .ant-layout-sider-dark {
  box-shadow: 1px 0 10px 2px rgb(47, 47, 47);
}

.ant-layout .ant-layout-sider-dark span {
  color: white;
}

.ant-layout .ant-layout-sider-light {
  background: #fafafa;
}

.sider-primary {
  overflow: auto;
  background: #fafafa;
  position: fixed;
  color: inherit;
  height: 100vh;
}

.sider-primary .fold {
  width: 100px;
  overflow: hidden;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border: none;
}

@media (min-width: 992px) {
  .sider-primary .ant-layout-sider-children {
    height: 100%;
    width: auto;
    padding: 13px 24px 0px 20px;
    transition: all 0.5s;
  }

  .sider-primary {
    box-shadow: 1px 0 10px 2px rgb(167, 169, 171);
  }

  .fold .ant-layout-sider-children {
    padding: 13px 8px 0 8px;
  }
}

@layer components {
  .fold-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: absolute;
    top: calc(100vh - 48px);
    left: 260px;
    height: 48px;
    width: 48px;
    background-color: #fafafa;
    border-radius: 0 6px 6px 0;
    border: none;
    box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.284);
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
  }
  .fold-btn:hover svg {
    fill: black;
    transition: all 0.5s;
  }
  .fold-btn-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: absolute;
    top: calc(100vh - 48px);
    left: 260px;
    height: 48px;
    width: 48px;
    background-color: #1a202c;
    border-radius: 0 6px 6px 0;
    border: none;
    box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.284);
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
  }

  .fold-btn-dark:hover svg {
    fill: #fafafa;
  }
}

.sider-primary .logo img {
  height: 48px;
  margin: 20px 0 0 20px;
  transition: all 0.5s;
}

.sider-primary hr {
  margin: 18px 0;
  border: none;
  height: 1px;
  background-color: #cdcdcd;
}

.sider-primary .ant-menu-item {
  margin: 0;
  overflow: visible;
  padding: 0 !important;
  height: auto;
  width: auto;
  line-height: normal;
  display: block;
  padding: 10px 16px;
  background: transparent;
  color: inherit;
  margin: 8px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s;
}
.sider-primary
  .ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #cd1414;
}

.sider-primary .ant-menu-item .icon {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(0 0 0/12%);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  vertical-align: middle;
  transition: all 0.5s;
}

.sider-primary .icon svg {
  width: 32px;
}

.ant-menu-item-selected .ant-menu-title-content {
  box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
  font-weight: 600;
  transition: all 0.5s;
}

.sider-primary .ant-menu-item .active {
  background-color: #fff;
  box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
  font-weight: 600;
  padding: 10px 16px;
}

.ant-layout-sider-dark .ant-menu-item .active {
  background-color: #5a6169;
  box-shadow: 0 20px 27px rgba(220, 213, 213, 0.068);
  font-weight: 600;
}

.sider-primary .ant-menu-item a {
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
}

/*********Header*********/

.ant-layout .ant-layout-header {
  position: relative;
  height: auto;
  background: 0 0;
  height: auto;
  padding: 16px;
  margin: 10px 4px;
  line-height: inherit;
  border-radius: 12px;
  transition: all 0.5s;
  font-family: "Ubuntu", sans-serif;
}

.header-primary .ant-header-page {
  font-weight: 700;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
}

.header-primary .ant-breadcrumb {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

.header-primary .header-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  line-height: 22px;
}

.dark span {
  color: white;
}
.dark a,
.dark .ant-breadcrumb .ant-breadcrumb-separator {
  color: #5a6169;
}
/*********Footer*********/
.ant-layout .ant-layout-footer {
  font-size: 18px;
  text-align: center;
}

/*********Content*********/
.ant-layout .ant-layout-content {
  position: relative;
  min-height: auto;
  font-family: "Ubuntu", sans-serif;
}

/*********Card**********/
.ant-card {
  font-family: "Ubuntu", sans-serif;
}
.ant-space-item a {
  color: #de453d;
  font-weight: 400;
}

.ant-space-item a:hover {
  color: #de453d;
  font-weight: 700;
}

.dark .ant-space-item a {
  color: #1890ff;
}

/*********Drawer*********/
.ant-drawer .ant-drawer-body {
  padding: 0;
}

/********Loading********/
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

/*********Star*********/
@keyframes banuce {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.35);
  }
}
@keyframes circle {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 1;
  }
}
.wrap {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(./assets/images/star_n1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.dark .star {
  background-image: url(./assets/images/star_n1.svg);
}

.fill {
  position: relative;
  animation: banuce 0.2s ease 0s 2 alternate;
  background-image: url(./assets/images/star.svg) !important;
}
.fill::before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10%;
  height: 10%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  box-shadow: 15px -15px 0 #fed001, 15px 15px 0 #fed001, -15px -15px 0 #fed001,
    -15px 15px 0 #fed001;
  animation: show 0.2s steps(1, end) 0s 1;
}
.fill::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: circle 0.3s ease 0.02s 1 alternate;
  border-radius: 50%;
  background: rgba(254, 208, 1, 0.1);
}

/*********Switch*********/
/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em;
  /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
  user-select: none;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

/*********Quote*********/
.price-up,
.dark .price-up span {
  color: #de453d;
}

.price-down,
.dark .price-down span {
  color: #37d14b;
}

.quoteCard .ant-card-body {
  padding-top: 0;
}

/*********Detail********/
.detail ul li {
  display: block;
  width: 30%;
  margin-right: 12px;
  flex: 1 1 auto;
}

.detail ul li span {
  font-size: 24px;
  font-weight: 700;
}
