@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Ubuntu", sans-serif;
}
.ant-layout {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

.ant-layout .ant-layout-content {
  padding: 0 16px;
}

/********Sidebar css********/

/* .ant-layout .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #1a202c;
  transition: all 0.2s;
  color: white;
} */

.ant-layout .ant-layout-sider-dark {
  box-shadow: 1px 0 10px 2px rgb(47, 47, 47);
}

.ant-layout .ant-layout-sider-dark span {
  color: white;
}

.ant-layout .ant-layout-sider-light {
  background:#fafafa;
}

.sider-primary {
  overflow: auto;
  background: #fafafa;
  position: fixed;
  color: inherit;
  transition: all 0.2s;
}

.sider-primary .fold {
  width: 100px;
  overflow: hidden;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border: none;
}

@media (min-width: 992px) {
  .sider-primary .ant-layout-sider-children {
    height: 100%;
    width: auto;
    padding: 13px 24px 0px 20px;
  }

  .sider-primary {
    box-shadow: 1px 0 10px 2px rgb(167, 169, 171);
  }

  .fold .ant-layout-sider-children {
    padding: 13px 8px 0 8px;
  }
}

@layer components {
  .fold-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: absolute;
    top: calc(100vh - 48px);
    left: 260px;
    height: 48px;
    width: 48px;
    background-color: #fafafa;
    border-radius: 0 6px 6px 0;
    border: none;
    box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.284);
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
}

.sider-primary .logo img {
  height: 48px;
  margin: 20px 0 0 20px;
  transition: all 0.2s;
}

.sider-primary hr {
  margin: 18px 0;
  border: none;
  height: 1px;
  background-color: #cdcdcd;
}

.sider-primary .ant-menu-item {
  margin: 0;
  overflow: visible;
  padding: 0 !important;
  height: auto;
  width: auto;
  line-height: normal;
  display: block;
  padding: 10px 16px;
  background: transparent;
  color: inherit;
  margin: 8px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.2s;
}

.sider-primary .ant-menu-item .icon {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(0 0 0/12%);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  vertical-align: middle;
}

.sider-primary .icon svg {
  width: 32px;
}

.ant-menu-item-selected .ant-menu-title-content {
  box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
  font-weight: 600;
}

.sider-primary .ant-menu-item .active {
  background-color: #fff;
  box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
  font-weight: 600;
  padding: 10px 16px;
}

.ant-layout-sider-dark .ant-menu-item .active {
  background-color: #30363e;
  box-shadow: 0 20px 27px rgba(255, 255, 255, 0.068);
  font-weight: 600;
}

.sider-primary .ant-menu-item a {
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
}

/*********Header*********/

.ant-layout .ant-layout-header {
  height: auto;
  background: 0 0;
  height: auto;
  padding: 16px;
  margin: 10px 4px;
  line-height: inherit;
  border-radius: 12px;
  transition: 0.2s;
  font-family: "Ubuntu", sans-serif;
}

.header-primary {
  /* font-family:"Ubuntu",sans-serif; */
}

.header-primary .ant-header-page {
  font-weight: 700;
  font-size: 18px;
  color: inherit;
  font-family: "Ubuntu", sans-serif;
}

.header-primary .ant-breadcrumb {
  color: inherit;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

/*********Footer*********/
.ant-layout .ant-layout-footer {
  font-size: 18px;
  text-align: center;
}
